.App .container {
	border: 2px solid rgba(0, 0, 0, 0.2);
	max-width: 60%;
	border-radius: 20px;
	margin-top: 30px;
	font-family: "Raleway", sans-serif;
	background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.App footer {
	text-align: center;
}

.loading {
	text-align: center;
	position: relative;
	top: 100px;
	max-width: 400px;
	display: block;
	margin: 0 auto;
}
