.Today .today-square {
	margin-top: 10px;
	border-radius: 23%;
	padding: 20px;
	box-shadow: -1px 1px 1px 1px grey;
	text-align: center;
}

.Today .faded {
	font-size: small;
	font-style: italic;
	opacity: 0.4;
	transition: none;
}
.Today h1 {
	font-size: 30px;
}

.today-temps {
	text-decoration: none;
	font-size: 30px;
}
.today-details {
	margin-top: 30px;
	margin-left: 0;
	font-size: 14px;
	text-transform: capitalize;
}

.today-icon {
	width: 150px;
	position: relative;
	top: 30px;
}

.farenheit-link,
.celsius-link {
	position: relative;
	top: -5px;
	left: 2px;
	text-decoration: none;
	color: black;
}

@media (max-width: 800px) {
	ul {
		padding-left: 100px;
	}

	.today-icon {
		width: 150px;
		display: block;
		margin: 0 auto;
	}
}
