.today-square {
	margin-top: 10px;
	border-radius: 23%;
	padding: 20px;
	box-shadow: -1px 1px 1px 1px grey;
	text-align: center;
}

.faded {
	font-size: small;
	font-style: italic;
	opacity: 0.4;
	transition: none;
}
.today-square h1 {
	font-size: 30px;
	max-width: 60%;
}

.today-temps {
	text-decoration: none;
	font-size: 30px;
}
.today-details {
	margin-top: 30px;
	margin-left: 0;
	font-size: 14px;
	text-transform: capitalize;
}

.today-icon {
	width: 150px;
	position: relative;
	top: 30px;
}

.farenheit-link,
.celsius-link {
	position: relative;
	top: -5px;
	left: 2px;
	text-decoration: none;
}
.inactive {
	color: black;
}
